build
bin
lib
debug
release
relwithdebinfo
eclipsebuild*
debug-eclipse
release-eclipse*
codeblocks*
*~
Ogre.log
CMakeFiles
.cproject
.project
.pydevproject
CMakeCache.txt
.tar.gz
.zip
.so
qtcreator-build
CMakeLists.txt.user*
